{% extends 'base.html' %}
{% block title %}About {% endblock title %}

{% block body %}
<br>
<div class="container">
<h2>Welcome to our online ice cream site!</h2>
<br>
<p>At Ice-Cream, we are passionate about creating delicious and delightful frozen treats that bring joy to your taste buds. We believe that ice cream is more than just a dessert—it's a moment of pure bliss, a nostalgic indulgence, and a source of happy memories. Our mission is to deliver exceptional ice cream experiences to ice cream lovers everywhere, right at their fingertips.
<br>
With years of experience in crafting premium ice cream, we have perfected the art of combining the finest ingredients, innovative flavors, and artisanal techniques to create the ultimate frozen delights. We source the highest quality ingredients from trusted suppliers, ensuring that each scoop is bursting with rich flavors and creamy textures.
<br>
Our team of talented and dedicated ice cream enthusiasts works tirelessly to develop unique and exciting flavors that will tantalize your taste buds. From classic favorites like chocolate and vanilla to innovative creations such as salted caramel pretzel and lavender honey, we strive to surprise and delight our customers with every bite.
<br>
We understand that everyone has different dietary preferences and needs. That's why we offer a wide range of options to cater to various dietary requirements. Whether you're lactose intolerant, vegan, or following a gluten-free diet, we have delicious options available to satisfy your cravings without compromising on taste.
</div>
</p>
{% endblock body %}

